<div class="hide-on-large-only">
    <div class="container">
            <h2 class="center" id="expertise">{{ sourcink.title | raw  }}</h2>
            <div class="row">
                <p class="center">
                    {{ sourcink.text1 | raw  }}
                </p>
                <br>
                {% for category in categories %}
                    <div class="col s12 m6 center">
                        <a href="{{ path('category_page_view', {'id':category.id}) }}">
                            <h3 class="black-text"><span class="black-text">{{ category.title | raw }}</span></h3>
                            <img class="circle responsive-img img" src="{{ asset('img/'~category.picture.pictureName) }}">
                        </a>
                        <p>
                            {{ sourcink.text2 | raw  }}
                        </p>
                        {% for work in category.works %}
                            <div class="col s12 center">
                                <p>{{ work.name }}</p>
                            </div>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
    </div>
</div>