{% extends "::layoutMonkeyTie.html.twig" %}
{% block header %}
    {% include('AppBundle:MonkeyTie:header.html.twig') %}
{% endblock %}
{% block content %}
    <iframe title="Big5" src="{{ monkeyTieUrl }}token={{ bigFiveKey }}&callback={{ urlCallback }}&userId={{ app.user
    .id }}&mail=candidat-{{ app.user.id }}@sourcink.com" frameborder="0" height="100%" width="100%" scrolling="auto">
        <p>Votre navigateur ne supporte pas les iframes. Les tests de personnalité sont donc inaccessibles, veuillez
            mètre à jour votre navigateur ou utilisé un autre navigateur Merci de votre compréhension.</p>
    </iframe>
{% endblock %}
