{% extends "::layoutMonkeyTie.html.twig" %}
{% block header %}
    {% include('AppBundle:Applicant:header.html.twig') %}
{% endblock %}
{% block content %}
    <iframe title="Culture Fit" src="{{ monkeyTieUrl }}token={{ cultureFitKey }}&callback={{ urlCallback
    }}&userId={{ app.user.id }}&mail={{ app.user.email }}" frameborder="0" height="100%" width="100%" scrolling="auto">
        <p>Votre navigateur ne supporte pas les ifs rames. Les tests de personnalité sont donc inaccessibles, veuillez
            mètre à jour votre navigateur ou utilisé un autre navigateur Merci de votre compréhension.</p>
    </iframe>
{% endblock %}
