{% extends 'base.html.twig' %}

{% block body %}

    <h1>Photos</h1>
    <table class="highlight">
        <thead>
        <tr>
            <th>Images</th>
            <th>Titre</th>
            <th>Sous-Titre</th>
            <th>Lien</th>
            <th>Nom du Lien</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for slide in sliders %}
            <tr>
                <td> {% if slide.picture is not null %}
                        <img src="{{ asset('img/' ~ slide.picture.pictureName) }}" class="admimage"/>
                    {% endif %}
                </td>
                <td>{{ slide.title |striptags }}</td>
                <td>{{ slide.text | striptags }}</td>
                <td>{{ slide.url }}</td>
                <td>{{ slide.nameUrl }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('slider_edit', { 'id': slide.id }) }}"
                               class="btn-floating btn-small waves-effect waves-light green"><i class="material-icons">mode_edit</i></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('slider_new') }}" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </li>
    </ul>
{% endblock %}
